{% extends './index.html' %}
{% block title %} <title> Tabla Posiciones</title> {% endblock %}

{% block content %}
<div style="border: 1px solid red; padding-top: 250px; background-color: burlywood;">
    <h1>Tabla de posiciones</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis unde dolorem ipsam enim quaerat expedita quisquam aperiam recusandae reprehenderit. Sed, cum atque. Beatae minus vero sint atque facere labore earum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ab eum odit ut, tempore soluta beatae nihil unde harum culpa possimus natus vero ea illum velit amet placeat quibusdam iste.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum culpa rem quis velit vel dicta dolore ab sequi mollitia, reiciendis, quisquam nesciunt voluptates error, neque maxime libero dolores omnis expedita.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed culpa dolorum voluptas eaque molestias perspiciatis a ab fugit, dolores laborum, eum delectus. Cumque nostrum, reiciendis officiis eaque ab omnis qui.
    </p>
</div>
{% endblock %}